body {
    margin: 20px
}
#main {
    box-sizing: border-box;
    width: 500px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 7px;

    /*box-shadow: 10px 10px black;*/
}

 p {
     box-sizing: border-box;
     width: 350px;
     border: 1px solid black;
     border-radius: 7px;
     /* 15px top and bottom, 25px left and right */
     padding: 15px 25px;
     /*top, right, bottom, left*/
     /*margin: 75px 100px 10px 0;*/
     margin: 15px auto;
 }