.flexbox {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    /*height: 900px;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;
    /* justify-content defines the distribution of space along the main axis of the container */
    justify-content: flex-start;
    /* Align items controls the alignment of flex items along the cross axis */
    align-items: flex-start;
    /* Align content is used to control how extra cross axis space is distributed between and around flex lines. It applies only to containers with multiple flex lines. */
    /*align-content: space-between;*/
}

.flex-item {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

.upsize {
    font-size: 150%;
}

/*.five {*/
/*    flex-grow: 1;*/
/*}*/

.one {
    align-self: flex-end;
    order: 1;
}

.six {
    order: -1;
    align-self: center;
}