#ipsum, #quenya, #pirate {
    /*border: 1px solid black;*/
    /*width: 25%;*/
    /*float: left;*/
    /*margin: 1rem;*/
}

#quenya{
    position: relative;

}



img[src="img/logo.png"] {
    position: fixed;
    top: 25% ;
    left: 0;
    z-index: -1;
}

img[src*="fish"]{
    position: absolute;
    left: unset;
    top:0;
    right: 0;
}

footer {
    width: 20%;
    margin: auto;
}

footer p {
    text-align: center;
    position: relative;
}